.about{
	font-size: px-rem(12);
	width: px-rem(478);

	p{
		padding: 0;
		margin: 0;
	}

	h1{
		font-family: $signika;
		font-weight: 400;
		font-size: px-rem(18);
		color: #558e6a;
		margin: 0 0 px-rem(10) 0;
		padding: 0;
	}

	h4{
		font-size: px-rem(12);
		color: #666;
		font-weight: bold;
	}

	h6{
		font-size: px-rem(11);
		color: #333;
		font-weight: bold;
		font-style: italic;
	}
}

.about__info-list{
	float:left;
	margin-right: px-rem(8);

	li{
		background: #efefef;
		border-radius: $border-radius;
		-moz-border-radius: $border-radius;
		-o-border-radius: $border-radius;
		-webkit-border-radius: $border-radius;
		color: #666;
		font-size: px-rem(11);
		margin-bottom: px-rem(10);
		margin-top: px-rem(9);
		padding: px-rem(6) px-rem(44) px-rem(5) px-rem(10);
		border-left: 3px solid #ccc;
		font-weight: bold;
	}
}

.about__skills,
.about__info,
.about__experience{
	padding-bottom: px-rem(10);
	margin-bottom: px-rem(10);
	border-bottom: 1px dotted #e3e2e2;
}

.about__education{
	margin-bottom: px-rem(20);
}

.about__skills{
	ul{
		float: left;
		width: px-rem(237);
	}

	li{
		color: #666;
		font-size: px-rem(12);
		font-weight: bold;
		padding-bottom: px-rem(3);
		float: left;
		width: px-rem(200);
	}

	span{
		float: right;
		width: px-rem(113);
		height: px-rem(17);
	}

	.r1{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-56)}
	.r2{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-76)}
	.r3{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-36)}
	.r4{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-56)}
	.r5{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-76)}
	.r6{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-56)}
	.r7{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-76)}
	.r8{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-36)}
	.r9{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-76)}
	.r10{background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-56)}
}













.about__skill {
	float: left;
	margin-right: 74px;
	width: 165px;
}
