#about{
	@include respond-min-max($mediumWidth, $largeWidth){
		width: px-rem(464);
	}
	@include respond-min-max($small, $mediumMin){
		width: px-rem(196);
	}
	@include respond-max($smallMin) {
		width: px-rem(230);
	}
}

.about {
	@include font-size(12);
	width: px-rem(478);
	p {
		padding: 0;
		margin: 0;
	}

	h1 {
		font-family: $signika;
		font-weight: 400;
		@include font-size(18);
		color: $green;
		margin: 0 0 px-rem(10) 0;
		padding: 0;
	}

	h4 {
		@include font-size(12);
		color: $gray-new;
		font-weight: bold;
	}

	h6 {
		@include font-size(11);
		color: $gray-dark;
		font-weight: bold;
		font-style: italic;
	}
}

.about__info-list {
	float:left;
	margin-right: px-rem(8);

	li {
		background: $gray-darker;
		border-radius: $border-radius;
		-moz-border-radius: $border-radius;
		-o-border-radius: $border-radius;
		-webkit-border-radius: $border-radius;
		color: $gray-new;
		@include font-size(11);
		margin-bottom: px-rem(10);
		margin-top: px-rem(9);
		padding: px-rem(6) px-rem(44) px-rem(5) px-rem(10);
		border-left: 3px solid $gray-white;
		font-weight: bold;
	}

	@include respond-min-max($mediumWidth, $largeWidth){
		padding: px-rem(6) px-rem(38) px-rem(5) px-rem(10);
	}
	@include respond-min-max($small, $mediumMin){
		margin-right: px-rem(3);
	}
	@include respond-max($smallMin) {
		margin-right: px-rem(23);
	}
}

.about__skills,
.about__info,
.about__experience {
	padding-bottom: px-rem(10);
	margin-bottom: px-rem(10);
	border-bottom: 1px dotted $gray;
}

.about__education {
	margin-bottom: px-rem(20);
}

.about__skills {
	ul {
		float: left;
		width: px-rem(237);
	}

	li {
		color: $gray-new;
		@include font-size(12);
		font-weight: bold;
		padding-bottom: px-rem(3);
		float: left;
		width: px-rem(200);
	}

	span {
		float: right;
		width: px-rem(113);
		height: px-rem(17);

		@include respond-min-max($small, $mediumMin){
			width: px-rem(125);
		}
	}

	.r1 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-56)}
	.r2 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-76)}
	.r3 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-36)}
	.r4 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-56)}
	.r5 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-76)}
	.r6 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-56)}
	.r7 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-76)}
	.r8 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-36)}
	.r9 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-76)}
	.r10 {background: url(/images/rating-sprite.png) no-repeat scroll 0 px-rem(-56)}
}

.about__skill {
	float: left;
	margin-right: px-rem(74);
	width: px-rem(165);

	@include respond-min-max($mediumWidth, $largeWidth){
		margin-right: px-rem(66);
	}
	@include respond-min-max($small, $mediumMin){
		margin-bottom: px-rem(10);
	}
	@include respond-max($smallMin) {
		margin-bottom: px-rem(10);
	}
}
