#contact {
	width: px-rem(478);

	h1 {
		font-family: $signika;
		@include font-size(18);
		color: $green;
		margin: 0 0 px-rem(10);
		padding: 0;
	}

	h4 {
		color: $gray-new;
		@include font-size(12);
		font-weight: bold;
		margin-bottom: px-rem(10);
	}

	@include respond-min-max($mediumWidth, $largeWidth) {
		width: px-rem(464);
	}
	@include respond-min-max($small, $mediumMin) {
		width: px-rem(196);
	}
	@include respond-max($smallMin) {
		width: px-rem(230);
	}
}

.contact__personalinfo {
	margin-bottom: px-rem(10);
	padding-bottom: px-rem(12);
	border-bottom: 1px dotted $gray;

	ul + ul {
		margin-left: px-rem(28);

		@include respond-min-max($small, $mediumMin) {
			margin-left: 0;
		}
		@include respond-max($smallMin) {
			margin-left: 0;
		}
	}
}

.contact__list {
	float: left;
	@include font-size(12);

	span {
		font-weight: bold;
		color: $gray-new;
	}
}

.input-text,
.textarea {
	margin-bottom: px-rem(10);
	padding-left: px-rem(10);
	moz-transition: border 0.3s ease 0s, color 0.3s ease-out 0s;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background: $gray-darker;
	border: 1px solid $gray-white;
	border-radius: $border-radius;
	-moz-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	-webkit-border-radius:$border-radius;
	color: $gray-lighter;
	font-family: $arial;
	@include font-size(11);
	outline-width: 0;
}


.input-text:hover,
.textarea:hover {
	background: $white;
	border: 1px solid #c0c0c0;
	color: $green;
}


.input-text {
	width: px-rem(300);
	height: px-rem(27);

	@include respond-min-max($small, $mediumMin) {
		width: px-rem(175);
	}
	@include respond-max($smallMin) {
		width: px-rem(210);
	}
}

.textarea {
	width: px-rem(460);
	height: px-rem(115);
	display: block;
	padding-top: px-rem(10);
	margin-bottom: px-rem(15);

	@include respond-min-max($mediumWidth, $largeWidth) {
		width: px-rem(450);
	}
	@include respond-min-max($small, $mediumMin) {
		width: px-rem(175);
	}
	@include respond-max($smallMin) {
		width: px-rem(210);
	}
}

.input-submit {
	background-color: $green;
	border: 1px solid $green;
	width: auto;
	padding: px-rem(8) px-rem(10);
	border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-o-border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	@include font-size(11);
	color: $white;
	cursor: pointer;
	background-image: url(/images/bg-button.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	&:hover {
		background-color: $gray-lighter;
		border: 1px solid $gray-lighter;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	}
}

.error {
	display: block;
	padding-bottom: px-rem(10);
	@include font-size(11);
	color: $red;
	font-weight: bold;
}
