#contact {
	width: px-rem(478);

	h1 {
		font-family: $signika;
		font-size: px-rem(18);
		color: $green;
		margin: 0 0 px-rem(10);
		padding: 0;
	}

	h4 {
		color: #666;
		font-size: px-rem(12);
		font-weight: bold;
		margin-bottom: px-rem(10);
	}
}

.contact__personalinfo {
	margin-bottom:px-rem(10);
	padding-bottom:12px;
	border-bottom:1px dotted #e3e2e2;

	ul + ul {
		margin-left:28px;
	}
}

.contact__list {
	float:left;
	font-size: px-rem(12);

	span {
		font-weight:bold;
		color: #666;
	}
}

.input-text,
.textarea {
	margin-bottom:px-rem(10);
	padding-left:px-rem(10);
	moz-transition: border 0.3s ease 0s, color 0.3s ease-out 0s;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background: #efefef;
	border: 1px solid $gray-white;
	border-radius: $border-radius;
	-moz-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	-webkit-border-radius:$border-radius;
	color: $gray-lighter;
	font-family: $arial;
	font-size: px-rem(11);
	outline-width: 0;
}


.input-text:hover,
.textarea:hover {
	background: $white;
	border: 1px solid #c0c0c0;
	color: $green;
}


.input-text {
	width: px-rem(300);
	height: px-rem(27);
}

.textarea {
	width: px-rem(460);
	height: px-rem(115);
	display: block;
	padding-top: px-rem(10);
	margin-bottom: px-rem(15);
}

.input-submit {
	background-color: $green;
	border: 1px solid $green;
	width: auto;
	padding: px-rem(8) px-rem(10);
	border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-o-border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	font-size: px-rem(11);
	color: $white;
	cursor: pointer;
	background-image: url(/images/bg-button.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.input-submit:hover {
	background-color: #777;
	border: 1px solid #777;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.error {
	display: block;
	padding-bottom: px-rem(10);
	font-size: px-rem(11);
	color: $red;
	font-weight: bold;
}
