.logo {
	margin-left: px-rem(12);
	margin-bottom: px-rem(50);
	position: relative;

	img {
		border-radius: $border-radius;
		-moz-border-radius: $border-radius;
		-o-border-radius: $border-radius;
		-webkit-border-radius: $border-radius;

		@include respond-max($smallMin) {
			width: px-rem(271);
		}
	}

	h1 {
		font-weight: bold;
		font-size: px-rem(23);
		color: $white;
		margin-bottom: px-rem(3);
	}

	h2 {
		font-size: px-rem(12);
		color: $white;
		padding-bottom: px-rem(3);
	}

	@include respond-max($smallMin) {
		margin-bottom: px-rem(2);
	}
}

.logo__info {
	background: $green;
	width: px-rem(218);
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-o-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	text-align: center;
	background: rgba(85,142,106,0.94);
	margin-bottom: px-rem(5);
	padding-top: px-rem(10);
	position: absolute;
	top: px-rem(193);
	left: 0;
	line-height: px-rem(28);
	
	@include respond-max($smallMin) {
		top: px-rem(196);
		width: px-rem(271);
	}
}
