#portfolio {
	width: 478px;

	h1 {
		font-family: $signika;
		font-size: px-rem(18px);
		color: $green;
		margin:0 0 px-rem(10) 0;
		padding: 0;
	}

	ul {
		font-size: px-rem(12);
	}

	@include respond-min-max($mediumWidth, $largeWidth){
		width: px-rem(464);
	}
	@include respond-min-max($small, $mediumMin){
		width: px-rem(196);
	}
	@include respond-max($smallMin) {
		width: px-rem(230);
	}
}

.portfolio_categories {
	padding-left: px-rem(23);
	border-bottom: 1px dotted $gray;
	position: relative;

	li {
		display: inline-block;
		padding: px-rem(8);
		padding: px-rem(3) px-rem(3) px-rem(3) px-rem(6);
	}

	a {
		color: $gray-lighter;
		display: inline-block;
		font-size: px-rem(14);
		font-family: $signika;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		&:hover {
			color: $green;
		}
	}

	span {
		color: $gray-lighter;
	}

	@include respond-max($smallMin) {
		padding-left:0;
	}
}


.portfolio__works {
	margin-left: px-rem(1);

	@include respond-min-max($small, $mediumMin){
		margin-left: px-rem(-5);
	}

	@include respond-min-max($mediumWidth, $largeWidth){
		margin: 0;
	}
}

.current a {
	color: $green;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.item {
	float: left;
	margin-right: px-rem(3);
	margin-top: px-rem(15);
	padding: px-rem(5) px-rem(5) px-rem(14);
	position: relative;

	@include respond-min-max($mediumWidth, $largeWidth){
		margin-right: px-rem(3);
		padding: px-rem(5) px-rem(2) px-rem(14);
	}

	@include respond-min-max($small, $mediumMin){
			.item { padding: px-rem(3) 0; }
	}

	img { width: 100%; }

	h3 {
		font-weight: bold;
		margin-top: px-rem(5);
		color: $gray-new;
		margin-top: px-rem(15);
		text-align: center;
		border-bottom: 1px solid $gray;
		padding-bottom: px-rem(10);

		@include respond-min-max($small, $mediumMin){
			width: px-rem(190); 
		}

		span {
			font-weight: normal;
			margin-top: px-rem(5);
			color: $green;
		}
	}

	.border {
		border-bottom: 1px solid $green;
		height: 1px;
		left: px-rem(62);
		position: absolute;
		top: px-rem(185);
		width: px-rem(110);

		@include respond-min-max($small, $mediumMin){
			left: px-rem(51);
			top: px-rem(165);
			width: px-rem(90);
		}

		@include respond-max($smallMin) {
			top: px-rem(179);
			left: px-rem(58);
		}
	}

	.plus {
		background: url(/images/zoom.png) no-repeat;
		height: px-rem(39);
		left: px-rem(189);
		position: absolute;
		text-align: center;
		top: px-rem(100);
		width: px-rem(45);
		color: $green;
		z-index: 100;

		@include respond-min-max($small, $mediumMin){
			left: px-rem(154);
			top: px-rem(79);
		}

		@include respond-max($smallMin) {
			left: px-rem(180);
		}
	}
}
