// fonts
$signika: 'Signika', Arial;
$arial: Arial;

// colors
$black: #000;
$white: #fff;
$green: #558e6a;
$red: #ef2942;

$gray-light: #f7f7f7;
$gray-lighter: #999;
$gray: #e3e2e2;
$gray-dark: #333;
$gray-white: #ccc;
$gray-new: #666;
$gray-darker: #efefef;


//border-radius
$border-radius: px-rem(4);

// Width
$baseWidth: 780;
$smallWidth: 480;
$mediumWidth: 768;
$largeWidth: 959;
$extraLargeWidth: 1240;


// Breakpoints
$small: px-rem($smallWidth);
$medium: px-rem($mediumWidth);
$large: px-rem($largeWidth);
$smallMin: px-rem($smallWidth - 1);
$mediumMin: px-rem($mediumWidth - 1);
$largeMin: px-rem($largeWidth - 1);
$extralarge: px-rem($extraLargeWidth);

// Padding
$smallPadding: 10;
$smallGridPadding: $smallPadding / 2;
$largePadding: 20;
$largeGridPadding: $largePadding / 2;

// Misc vars
$widthLabel: px-rem(178);
$widthBorder: 38;

// Utils
.center {
    text-align: center;
}
