/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none; }

.checkout-progress-indicator.hide-all {
  display: none; }

.center {
  text-align: center; }

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: local("Signika-Light"), url(http://fonts.gstatic.com/s/signika/v6/koFYE26bhT88HgRA8f4vbQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"); }

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local("Signika"), local("Signika-Regular"), url(http://fonts.gstatic.com/s/signika/v6/DgXTNsU4VcVVFTc7jwBZzwLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2"); }

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  src: local("Signika-Semibold"), url(http://fonts.gstatic.com/s/signika/v6/FZa_MODmDkR9DTu5jHSnSQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"); }

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: local("Signika-Bold"), url(http://fonts.gstatic.com/s/signika/v6/7M5kxD4eGxuhgFaIk95pBQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"); }

body {
  background: url("/images/pattern/pattern3.png") repeat;
  font-family: Arial;
  line-height: 1.25rem;
  font-weight: normal;
  font-style: normal;
  color: #999; }

#wrapper {
  margin: 3.125rem auto 1.875rem auto;
  width: 48.75rem; }
  @media screen and (min-width: 768) and (max-width: 959) {
    #wrapper {
      width: 46.875rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    #wrapper {
      width: 30rem; } }
  @media screen and (max-width: 29.9375rem) {
    #wrapper {
      width: 18.4375rem; } }

header {
  width: 14.375rem;
  float: left; }
  @media screen and (min-width: 768) and (max-width: 959) {
    header {
      width: 13.4375rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    header {
      width: 12.1875rem; } }
  @media screen and (max-width: 29.9375rem) {
    header {
      width: 16.875rem; } }

.page {
  width: 32.8125rem;
  float: left;
  background: #e3e2e2;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  padding: 0.1875rem 0.1875rem 0.1875rem 0;
  margin-left: 0.4375rem;
  margin-bottom: 0.625rem;
  position: relative; }
  @media screen and (min-width: 768) and (max-width: 959) {
    .page {
      margin-left: 1.375rem;
      width: 31.875rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .page {
      margin-left: 2.5625rem;
      width: 14.4375rem; } }
  @media screen and (max-width: 29.9375rem) {
    .page {
      margin-left: 0.625rem;
      width: 16.9375rem; } }

.content {
  background: #fff;
  margin: 0 auto;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  padding: 1.25rem 1.5625rem 2.1875rem 1.5625rem; }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .content {
      padding: 1.25rem 1.375rem 2.1875rem; } }
  @media screen and (max-width: 29.9375rem) {
    .content {
      padding: 1.25rem 1.375rem 2.1875rem; } }

footer p {
  color: #ccc;
  font-size: 11px;
  font-size: 0.6875rem;
  margin-top: 0.3125rem;
  margin-left: 25rem; }
  @media screen and (min-width: 768) and (max-width: 959) {
    footer p {
      margin-left: 24.6875rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    footer p {
      margin-left: 16rem; } }
  @media screen and (max-width: 29.9375rem) {
    footer p {
      margin-left: 3.125rem; } }

.appbar {
  margin-left: 0.375rem; }
  .appbar li {
    display: inline-block;
    margin-left: 0.3125rem;
    margin-bottom: 0.3125rem;
    width: 13.4375rem;
    height: 2.5rem;
    border-right: 5px solid #e3e2e2;
    float: left;
    border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    position: relative;
    background: #fff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* W3C */ }
    @media screen and (max-width: 29.9375rem) {
      .appbar li {
        width: 16.6875rem; } }
    .appbar li > a {
      color: #999;
      display: inline-block;
      padding: 0.6875rem 0.625rem 0.625rem 8.875rem;
      background-repeat: no-repeat;
      font-family: "Signika", Arial;
      font-weight: 300;
      font-size: 17px;
      font-size: 1.0625rem;
      width: 4.0625rem;
      height: 1.3125rem; }
      @media screen and (max-width: 29.9375rem) {
        .appbar li > a {
          padding: 0.6875rem 0.625rem 0.625rem 12.1875rem; } }
    .appbar li.active {
      border-right: 5px solid #558e6a;
      background: #fff url(/images/nav-arrow-active.png) no-repeat 102% center; }
      .appbar li.active .appbar__link--about {
        background-image: url(/images/about-ico-active.png);
        background-position: 0.875rem 0.4375rem;
        color: #558e6a; }
      .appbar li.active .appbar__link--portfolio {
        background-image: url(/images/folio-ico-active.png);
        background-position: 0.875rem 0.4375rem;
        color: #558e6a; }
      .appbar li.active .appbar__link--contact {
        background-image: url(/images/contact-ico-active.png);
        background-position: 0.875rem 0.4375rem;
        color: #558e6a; }

.appbar__link--about {
  background-image: url(/images/about-ico.png);
  background-position: 0.875rem 0.4375rem; }

.appbar__link--portfolio {
  background-image: url(/images/folio-ico.png);
  background-position: 0.875rem 0.4375rem; }

.appbar__link--contact {
  background-image: url(/images/contact-ico.png);
  background-position: 0.875rem 0.4375rem; }

.edge {
  position: absolute;
  top: 0;
  left: 30rem; }
  @media screen and (min-width: 768) and (max-width: 959) {
    .edge {
      left: 29.0625rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .edge {
      left: 11.625rem; } }
  @media screen and (max-width: 29.9375rem) {
    .edge {
      left: 14.125rem; } }

.logo {
  margin-left: 0.75rem;
  margin-bottom: 3.125rem;
  position: relative; }
  .logo img {
    border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem; }
    @media screen and (max-width: 29.9375rem) {
      .logo img {
        width: 16.9375rem; } }
  .logo h1 {
    font-weight: bold;
    font-size: 23px;
    font-size: 1.4375rem;
    color: #fff;
    margin-bottom: 0.1875rem; }
  .logo h2 {
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    padding-bottom: 0.1875rem; }
  @media screen and (max-width: 29.9375rem) {
    .logo {
      margin-bottom: 0.125rem; } }

.logo__info {
  background: #558e6a;
  width: 13.625rem;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  text-align: center;
  background: rgba(85, 142, 106, 0.94);
  margin-bottom: 0.3125rem;
  padding-top: 0.625rem;
  position: absolute;
  top: 12.0625rem;
  left: 0;
  line-height: 1.75rem; }
  @media screen and (max-width: 29.9375rem) {
    .logo__info {
      top: 12.25rem;
      width: 16.9375rem; } }

@media screen and (min-width: 768) and (max-width: 959) {
  #about {
    width: 29rem; } }

@media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
  #about {
    width: 12.25rem; } }

@media screen and (max-width: 29.9375rem) {
  #about {
    width: 14.375rem; } }

.about {
  font-size: 12px;
  font-size: 0.75rem;
  width: 29.875rem; }
  .about p {
    padding: 0;
    margin: 0; }
  .about h1 {
    font-family: "Signika", Arial;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    color: #558e6a;
    margin: 0 0 0.625rem 0;
    padding: 0; }
  .about h4 {
    font-size: 12px;
    font-size: 0.75rem;
    color: #666;
    font-weight: bold; }
  .about h6 {
    font-size: 11px;
    font-size: 0.6875rem;
    color: #333;
    font-weight: bold;
    font-style: italic; }

.about__info-list {
  float: left;
  margin-right: 0.5rem; }
  .about__info-list li {
    background: #efefef;
    border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    color: #666;
    font-size: 11px;
    font-size: 0.6875rem;
    margin-bottom: 0.625rem;
    margin-top: 0.5625rem;
    padding: 0.375rem 2.75rem 0.3125rem 0.625rem;
    border-left: 3px solid #ccc; }
    .about__info-list li span {
      font-weight: bold; }
  @media screen and (min-width: 768) and (max-width: 959) {
    .about__info-list {
      padding: 0.375rem 2.375rem 0.3125rem 0.625rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .about__info-list {
      margin-right: 0.1875rem; } }
  @media screen and (max-width: 29.9375rem) {
    .about__info-list {
      margin-right: 1.4375rem; } }

.about__skills,
.about__info,
.about__experience {
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  border-bottom: 1px dotted #e3e2e2; }

.about__education {
  margin-bottom: 1.25rem; }

.about__skills ul {
  float: left;
  width: 14.8125rem; }

.about__skills li {
  color: #666;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  padding-bottom: 0.1875rem;
  float: left;
  width: 12.5rem; }

.about__skills span {
  float: right;
  width: 7.0625rem;
  height: 1.0625rem; }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .about__skills span {
      width: 7.8125rem; } }

.about__skills .r1 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -3.5rem; }

.about__skills .r2 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -4.75rem; }

.about__skills .r3 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -2.25rem; }

.about__skills .r4 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -3.5rem; }

.about__skills .r5 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -4.75rem; }

.about__skills .r6 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -3.5rem; }

.about__skills .r7 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -4.75rem; }

.about__skills .r8 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -2.25rem; }

.about__skills .r9 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -4.75rem; }

.about__skills .r10 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -3.5rem; }

.about__skill {
  float: left;
  margin-right: 4.625rem;
  width: 10.3125rem; }
  @media screen and (min-width: 768) and (max-width: 959) {
    .about__skill {
      margin-right: 4.125rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .about__skill {
      margin-bottom: 0.625rem; } }
  @media screen and (max-width: 29.9375rem) {
    .about__skill {
      margin-bottom: 0.625rem; } }

#portfolio {
  width: 478px; }
  #portfolio h1 {
    font-family: "Signika", Arial;
    font-size: 18pxpx;
    font-size: 1.125pxrem;
    color: #558e6a;
    margin: 0 0 0.625rem 0;
    padding: 0; }
  #portfolio ul {
    font-size: 12px;
    font-size: 0.75rem; }
  @media screen and (min-width: 768) and (max-width: 959) {
    #portfolio {
      width: 29rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    #portfolio {
      width: 12.25rem; } }
  @media screen and (max-width: 29.9375rem) {
    #portfolio {
      width: 14.375rem; } }

.portfolio_categories {
  padding-left: 1.4375rem;
  border-bottom: 1px dotted #e3e2e2;
  position: relative; }
  .portfolio_categories li {
    display: inline-block;
    padding: 0.5rem;
    padding: 0.1875rem 0.1875rem 0.1875rem 0.375rem; }
  .portfolio_categories a {
    color: #999;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Signika", Arial;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .portfolio_categories a:hover {
      color: #558e6a; }
  .portfolio_categories span {
    color: #999; }
  @media screen and (max-width: 29.9375rem) {
    .portfolio_categories {
      padding-left: 0; } }

.portfolio__works {
  margin-left: 0.0625rem; }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .portfolio__works {
      margin-left: -0.3125rem; } }
  @media screen and (min-width: 768) and (max-width: 959) {
    .portfolio__works {
      margin: 0; } }

.current a {
  color: #558e6a;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.item {
  float: left;
  margin-right: 0.1875rem;
  margin-top: 0.9375rem;
  padding: 0.3125rem 0.3125rem 0.875rem;
  position: relative; }
  @media screen and (min-width: 768) and (max-width: 959) {
    .item {
      margin-right: 0.1875rem;
      padding: 0.3125rem 0.125rem 0.875rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .item .item {
      padding: 0.1875rem 0; } }
  .item img {
    width: 100%; }
  .item h3 {
    font-weight: bold;
    margin-top: 0.3125rem;
    color: #666;
    margin-top: 0.9375rem;
    text-align: center;
    border-bottom: 1px solid #e3e2e2;
    padding-bottom: 0.625rem; }
    @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
      .item h3 {
        width: 11.875rem; } }
    .item h3 span {
      font-weight: normal;
      margin-top: 0.3125rem;
      color: #558e6a; }
  .item .border {
    border-bottom: 1px solid #558e6a;
    height: 1px;
    left: 3.875rem;
    position: absolute;
    top: 11.5625rem;
    width: 6.875rem; }
    @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
      .item .border {
        left: 3.1875rem;
        top: 10.3125rem;
        width: 5.625rem; } }
    @media screen and (max-width: 29.9375rem) {
      .item .border {
        top: 11.1875rem;
        left: 3.625rem; } }
  .item .plus {
    background: url(/images/zoom.png) no-repeat;
    height: 2.4375rem;
    left: 11.8125rem;
    position: absolute;
    text-align: center;
    top: 6.25rem;
    width: 2.8125rem;
    color: #558e6a;
    z-index: 100; }
    @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
      .item .plus {
        left: 9.625rem;
        top: 4.9375rem; } }
    @media screen and (max-width: 29.9375rem) {
      .item .plus {
        left: 11.25rem; } }

#contact {
  width: 29.875rem; }
  #contact h1 {
    font-family: "Signika", Arial;
    font-size: 18px;
    font-size: 1.125rem;
    color: #558e6a;
    margin: 0 0 0.625rem;
    padding: 0; }
  #contact h4 {
    color: #666;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.625rem; }
  @media screen and (min-width: 768) and (max-width: 959) {
    #contact {
      width: 29rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    #contact {
      width: 12.25rem; } }
  @media screen and (max-width: 29.9375rem) {
    #contact {
      width: 14.375rem; } }

.contact__personalinfo {
  margin-bottom: 0.625rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px dotted #e3e2e2; }
  .contact__personalinfo ul + ul {
    margin-left: 1.75rem; }
    @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
      .contact__personalinfo ul + ul {
        margin-left: 0; } }
    @media screen and (max-width: 29.9375rem) {
      .contact__personalinfo ul + ul {
        margin-left: 0; } }

.contact__list {
  float: left;
  font-size: 12px;
  font-size: 0.75rem; }
  .contact__list span {
    font-weight: bold;
    color: #666; }

.input-text,
.textarea {
  margin-bottom: 0.625rem;
  padding-left: 0.625rem;
  moz-transition: border 0.3s ease 0s, color 0.3s ease-out 0s;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  color: #999;
  font-family: Arial;
  font-size: 11px;
  font-size: 0.6875rem;
  outline-width: 0; }

.input-text:hover,
.textarea:hover {
  background: #fff;
  border: 1px solid #c0c0c0;
  color: #558e6a; }

.input-text {
  width: 18.75rem;
  height: 1.6875rem; }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .input-text {
      width: 10.9375rem; } }
  @media screen and (max-width: 29.9375rem) {
    .input-text {
      width: 13.125rem; } }

.textarea {
  width: 28.75rem;
  height: 7.1875rem;
  display: block;
  padding-top: 0.625rem;
  margin-bottom: 0.9375rem; }
  @media screen and (min-width: 768) and (max-width: 959) {
    .textarea {
      width: 28.125rem; } }
  @media screen and (min-width: 30rem) and (max-width: 47.9375rem) {
    .textarea {
      width: 10.9375rem; } }
  @media screen and (max-width: 29.9375rem) {
    .textarea {
      width: 13.125rem; } }

.input-submit {
  background-color: #558e6a;
  border: 1px solid #558e6a;
  width: auto;
  padding: 0.5rem 0.625rem;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #fff;
  cursor: pointer;
  background-image: url(/images/bg-button.png);
  background-position: 0 0;
  background-repeat: repeat-x;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .input-submit:hover {
    background-color: #999;
    border: 1px solid #999;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.error {
  display: block;
  padding-bottom: 0.625rem;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #ef2942;
  font-weight: bold; }
