/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

.hidden {
  display: none; }

.checkout-progress-indicator.hide-all {
  display: none; }

.center {
  text-align: center; }

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: local("Signika-Light"), url(http://fonts.gstatic.com/s/signika/v6/koFYE26bhT88HgRA8f4vbQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"); }

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local("Signika"), local("Signika-Regular"), url(http://fonts.gstatic.com/s/signika/v6/DgXTNsU4VcVVFTc7jwBZzwLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2"); }

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  src: local("Signika-Semibold"), url(http://fonts.gstatic.com/s/signika/v6/FZa_MODmDkR9DTu5jHSnSQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"); }

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: local("Signika-Bold"), url(http://fonts.gstatic.com/s/signika/v6/7M5kxD4eGxuhgFaIk95pBQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"); }

body {
  background: url("/images/pattern/pattern3.png") repeat;
  font-family: Arial;
  line-height: 1.25rem;
  font-weight: normal;
  font-style: normal;
  color: #999; }

#wrapper {
  margin: 3.125rem auto 1.875rem auto;
  width: 48.75rem; }

header {
  width: 14.375rem;
  float: left; }

.page {
  width: 32.8125rem;
  float: left;
  background: #e3e2e2;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  padding: 0.1875rem 0.1875rem 0.1875rem 0;
  margin-left: 0.4375rem;
  margin-bottom: 0.625rem;
  position: relative; }

.content {
  background: #fff;
  margin: 0 auto;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  padding: 1.25rem 1.5625rem 2.1875rem 1.5625rem; }

footer p {
  color: #ccc;
  font-size: 0.6875rem;
  margin-top: 0.3125rem;
  margin-left: 25rem; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #wrapper {
    width: 750px; }
  header {
    width: 215px; }
  .page {
    margin-left: 22px;
    width: 510px; }
  .edge {
    left: 465px; }
  .about {
    width: 464px; }
  .about__info ul li {
    padding: 6px 38px 5px 10px; }
  .about__skill {
    margin-right: 66px; }
  #portfolio {
    width: 464px; }
  .portfolio__works {
    margin: 0; }
  ul li.item {
    margin-right: 3px;
    padding: 5px 2px 14px; }
  .btnMore {
    margin-left: 330px; }
  blockquote.style3 {
    padding-right: 20px; }
  #contact {
    width: 464px; }
  #contact p.personal {
    margin-right: 15px; }
  .contact__area textarea {
    width: 450px; }
  footer p {
    margin-left: 395px; } }

/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #wrapper {
    width: 480px; }
  header {
    width: 195px; }
  .content {
    padding: 20px 22px 35px; }
  .edge {
    left: 186px; }
  .page {
    margin-left: 41px;
    width: 231px; }
  .about {
    width: 196px; }
  .about__skill {
    margin-bottom: 10px; }
  .about__skills li span {
    width: 125px; }
  .about__info-list {
    margin-right: 3px; }
  #portfolio {
    width: 196px; }
  .portfolio__works {
    margin-left: -5px; }
  .portfolio_categories {
    padding-left: 0; }
  .portfolio_categories li {
    padding: 3px 0px 3px 0px; }
  li.item h3 {
    width: 190px; }
  span.plus {
    left: 154px;
    top: 79px; }
  span.border {
    left: 51px;
    top: 165px;
    width: 90px; }
  .portfolio_categories li #animated-line {
    display: none; }
  #contact {
    width: 196px; }
  #contact p.personal, #contact ul.personal {
    margin-bottom: 10px; }
  #contact .contact__personalinfo ul + ul {
    margin-left: 0; }
  .contact__area input[type="text"], #contact input[type="email"], #contact input[type="text"], #contact textarea {
    width: 175px; }
  #contact textarea {
    width: 176px; }
  footer p {
    margin-left: 256px; } }

/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width: 479px) {
  #wrapper {
    width: 295px; }
  header {
    width: 270px; }
  .content {
    padding: 20px 22px 35px; }
  .edge {
    left: 226px; }
  /*Main nav*/
  /*.appbar li.active {background: url("images/nav-arrow-active.png") no-repeat scroll 101% center #FFFFFF;}*/
  .page {
    margin-left: 10px;
    width: 271px; }
  .logo {
    margin-bottom: 2px; }
  .logo img {
    width: 271px; }
  .logo div {
    top: 196px;
    width: 271px; }
  .appbar li {
    width: 267px; }
  .appbar li > a {
    padding: 11px 10px 10px 195px; }
  /*About tab */
  .about {
    width: 230px; }
  .about__info-list {
    margin-right: 23px; }
  .about__skill {
    margin-bottom: 10px; }
  /*Portfolio tab */
  #portfolio {
    width: 230px; }
  span.border {
    top: 179px;
    left: 58px; }
  span.plus {
    left: 180px; }
  .portfolio_categories {
    padding-left: 0; }
  /*Contact tab */
  #contact {
    width: 230px; }
  #contact p.personal, #contact ul.personal {
    margin-bottom: 10px; }
  #contact .contact__personalinfo ul + ul {
    margin-left: 0; }
  .contact__area input[type="text"], #contact input[type="email"], #contact input[type="text"] {
    width: 210px; }
  #contact textarea {
    width: 211px; }
  /*Footer*/
  footer p {
    margin-left: 50px; } }

/*End media queries*/
/*-------------------------------------------------------------------------*/
.msgko {
  font-size: 12px;
  font-weight: bold;
  color: #548A68;
  text-align: center;
  padding-bottom: 8px;
  text-transform: uppercase; }

/* Main navigation */
.appbar {
  margin-left: 6px; }

.appbar li {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 215px;
  height: 40px;
  border-right: 5px solid #e3e2e2;
  float: left;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* W3C */ }

.appbar li > a {
  color: #999;
  display: inline-block;
  padding: 11px 10px 10px 142px;
  background-repeat: no-repeat;
  font-family: "Signika";
  font-weight: 300;
  font-size: 17px;
  color: #787878;
  width: 65px;
  height: 21px; }

.appbar .appbar__link--about {
  background-image: url(/images/about-ico.png);
  background-position: 14px 7px; }

.appbar .appbar__link--portfolio {
  background-image: url(/images/folio-ico.png);
  background-position: 14px 7px; }

.appbar .appbar__link--contact {
  background-image: url(/images/contact-ico.png);
  background-position: 14px 7px; }

.appbar li.active {
  border-right: 5px solid #558e6a;
  background: #fff url(/images/nav-arrow-active.png) no-repeat 102% center; }

.appbar li.active .appbar__link--about {
  background-image: url(/images/about-ico-active.png);
  background-position: 14px 7px;
  color: #558e6a; }

.appbar li.active .appbar__link--portfolio {
  background-image: url(/images/folio-ico-active.png);
  background-position: 14px 7px;
  color: #558e6a; }

.appbar li.active .appbar__link--contact {
  background-image: url(/images/contact-ico-active.png);
  background-position: 14px 7px;
  color: #558e6a; }

.edge {
  position: absolute;
  top: 0;
  left: 30rem; }

.logo {
  margin-left: 12px;
  margin-bottom: 50px;
  position: relative; }

.logo img {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px; }

.logo div {
  background: #558e6a;
  width: 218px;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  text-align: center;
  background: rgba(85, 142, 106, 0.94);
  margin-bottom: 5px;
  padding-top: 10px;
  position: absolute;
  top: 193px;
  left: 0;
  line-height: 28px; }

.logo div h1 {
  font-weight: bold;
  font-size: 23px;
  color: #fff;
  margin-bottom: 3px; }

.logo div h2 {
  font-size: 12px;
  color: #fff;
  padding-bottom: 3px; }

body {
  background: url("/images/pattern/pattern3.png") repeat;
  font-family: Arial;
  line-height: 1.25rem;
  font-weight: normal;
  font-style: normal;
  color: #999; }

#wrapper {
  margin: 3.125rem auto 1.875rem auto;
  width: 48.75rem; }

header {
  width: 14.375rem;
  float: left; }

.page {
  width: 32.8125rem;
  float: left;
  background: #e3e2e2;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  padding: 0.1875rem 0.1875rem 0.1875rem 0;
  margin-left: 0.4375rem;
  margin-bottom: 0.625rem;
  position: relative; }

.content {
  background: #fff;
  margin: 0 auto;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  padding: 1.25rem 1.5625rem 2.1875rem 1.5625rem; }

footer p {
  color: #ccc;
  font-size: 0.6875rem;
  margin-top: 0.3125rem;
  margin-left: 25rem; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #wrapper {
    width: 750px; }
  header {
    width: 215px; }
  .page {
    margin-left: 22px;
    width: 510px; }
  .edge {
    left: 465px; }
  .about {
    width: 464px; }
  .about__info ul li {
    padding: 6px 38px 5px 10px; }
  .about__skill {
    margin-right: 66px; }
  #portfolio {
    width: 464px; }
  .portfolio__works {
    margin: 0; }
  ul li.item {
    margin-right: 3px;
    padding: 5px 2px 14px; }
  .btnMore {
    margin-left: 330px; }
  blockquote.style3 {
    padding-right: 20px; }
  #contact {
    width: 464px; }
  #contact p.personal {
    margin-right: 15px; }
  .contact__area textarea {
    width: 450px; }
  footer p {
    margin-left: 395px; } }

/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #wrapper {
    width: 480px; }
  header {
    width: 195px; }
  .content {
    padding: 20px 22px 35px; }
  .edge {
    left: 186px; }
  .page {
    margin-left: 41px;
    width: 231px; }
  .about {
    width: 196px; }
  .about__skill {
    margin-bottom: 10px; }
  .about__skills li span {
    width: 125px; }
  .about__info-list {
    margin-right: 3px; }
  #portfolio {
    width: 196px; }
  .portfolio__works {
    margin-left: -5px; }
  .portfolio_categories {
    padding-left: 0; }
  .portfolio_categories li {
    padding: 3px 0px 3px 0px; }
  li.item h3 {
    width: 190px; }
  span.plus {
    left: 154px;
    top: 79px; }
  span.border {
    left: 51px;
    top: 165px;
    width: 90px; }
  .portfolio_categories li #animated-line {
    display: none; }
  #contact {
    width: 196px; }
  #contact p.personal, #contact ul.personal {
    margin-bottom: 10px; }
  #contact .contact__personalinfo ul + ul {
    margin-left: 0; }
  .contact__area input[type="text"], #contact input[type="email"], #contact input[type="text"], #contact textarea {
    width: 175px; }
  #contact textarea {
    width: 176px; }
  footer p {
    margin-left: 256px; } }

/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width: 479px) {
  #wrapper {
    width: 295px; }
  header {
    width: 270px; }
  .content {
    padding: 20px 22px 35px; }
  .edge {
    left: 226px; }
  /*Main nav*/
  /*.appbar li.active {background: url("images/nav-arrow-active.png") no-repeat scroll 101% center #FFFFFF;}*/
  .page {
    margin-left: 10px;
    width: 271px; }
  .logo {
    margin-bottom: 2px; }
  .logo img {
    width: 271px; }
  .logo div {
    top: 196px;
    width: 271px; }
  .appbar li {
    width: 267px; }
  .appbar li > a {
    padding: 11px 10px 10px 195px; }
  /*About tab */
  .about {
    width: 230px; }
  .about__info-list {
    margin-right: 23px; }
  .about__skill {
    margin-bottom: 10px; }
  /*Portfolio tab */
  #portfolio {
    width: 230px; }
  span.border {
    top: 179px;
    left: 58px; }
  span.plus {
    left: 180px; }
  .portfolio_categories {
    padding-left: 0; }
  /*Contact tab */
  #contact {
    width: 230px; }
  #contact p.personal, #contact ul.personal {
    margin-bottom: 10px; }
  #contact .contact__personalinfo ul + ul {
    margin-left: 0; }
  .contact__area input[type="text"], #contact input[type="email"], #contact input[type="text"] {
    width: 210px; }
  #contact textarea {
    width: 211px; }
  /*Footer*/
  footer p {
    margin-left: 50px; } }

/*End media queries*/
/*-------------------------------------------------------------------------*/
.msgko {
  font-size: 12px;
  font-weight: bold;
  color: #548A68;
  text-align: center;
  padding-bottom: 8px;
  text-transform: uppercase; }

.about {
  font-size: 0.75rem;
  width: 29.875rem; }
  .about p {
    padding: 0;
    margin: 0; }
  .about h1 {
    font-family: "Signika", Arial;
    font-weight: 400;
    font-size: 1.125rem;
    color: #558e6a;
    margin: 0 0 0.625rem 0;
    padding: 0; }
  .about h4 {
    font-size: 0.75rem;
    color: #666;
    font-weight: bold; }
  .about h6 {
    font-size: 0.6875rem;
    color: #333;
    font-weight: bold;
    font-style: italic; }

.about__info-list {
  float: left;
  margin-right: 0.5rem; }
  .about__info-list li {
    background: #efefef;
    border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    color: #666;
    font-size: 0.6875rem;
    margin-bottom: 0.625rem;
    margin-top: 0.5625rem;
    padding: 0.375rem 2.75rem 0.3125rem 0.625rem;
    border-left: 3px solid #ccc;
    font-weight: bold; }

.about__skills,
.about__info,
.about__experience {
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  border-bottom: 1px dotted #e3e2e2; }

.about__education {
  margin-bottom: 1.25rem; }

.about__skills ul {
  float: left;
  width: 14.8125rem; }

.about__skills li {
  color: #666;
  font-size: 0.75rem;
  font-weight: bold;
  padding-bottom: 0.1875rem;
  float: left;
  width: 12.5rem; }

.about__skills span {
  float: right;
  width: 7.0625rem;
  height: 1.0625rem; }

.about__skills .r1 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -3.5rem; }

.about__skills .r2 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -4.75rem; }

.about__skills .r3 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -2.25rem; }

.about__skills .r4 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -3.5rem; }

.about__skills .r5 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -4.75rem; }

.about__skills .r6 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -3.5rem; }

.about__skills .r7 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -4.75rem; }

.about__skills .r8 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -2.25rem; }

.about__skills .r9 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -4.75rem; }

.about__skills .r10 {
  background: url(/images/rating-sprite.png) no-repeat scroll 0 -3.5rem; }

.about__skill {
  float: left;
  margin-right: 74px;
  width: 165px; }

#portfolio {
  width: 478px; }
  #portfolio h1 {
    font-family: "Signika";
    font-size: 18px;
    color: #558e6a;
    margin: 0 0 10px 0;
    padding: 0; }
  #portfolio ul {
    font-size: 12px; }

.portfolio_categories {
  padding-left: 23px;
  border-bottom: 1px dotted #e3e2e2;
  position: relative; }
  .portfolio_categories li {
    display: inline-block;
    padding: 8px;
    padding: 3px 3px 3px 6px; }
  .portfolio_categories a {
    color: #777;
    display: inline-block;
    font-size: 14px;
    font-family: "Signika";
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .portfolio_categories a:hover {
      color: #558e6a !important; }
  .portfolio_categories span {
    color: #777; }

.portfolio__works {
  margin-left: 1px; }

.current a {
  color: #558e6a !important;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.item {
  float: left;
  margin-right: 3px;
  margin-top: 15px;
  padding: 5px 5px 14px;
  position: relative; }

.item img {
  width: 100%; }

.item h3 {
  font-weight: bold;
  margin-top: 5px;
  color: #666;
  margin-top: 15px;
  text-align: center;
  border-bottom: 1px solid #e3e2e2;
  padding-bottom: 10px; }

.item .border {
  border-bottom: 1px solid #558e6a;
  height: 1px;
  left: 62px;
  position: absolute;
  top: 185px;
  width: 110px; }

.item .plus {
  background: url(/images/zoom.png) no-repeat;
  height: 39px;
  left: 189px;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 45px;
  color: #558e6a;
  z-index: 100; }

.item h3 span {
  font-weight: normal;
  margin-top: 5px;
  color: #558e6a; }

/* Contact tab */
#contact {
  width: 478px; }

#contact h1 {
  font-family: "Signika";
  font-size: 18px;
  color: #558e6a;
  margin: 0 0 10px;
  padding: 0; }

#contact h4 {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px; }

#contact p.personal {
  font-size: 12px;
  width: 130px;
  margin-right: 22px; }

#contact .personal a {
  color: #999999; }

#contact p.personal,
#contact ul.personal {
  float: left; }

#contact .contact__personalinfo ul + ul {
  margin-left: 28px; }

.contact__personalinfo, #mapHolder {
  margin-bottom: 10px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #e3e2e2; }

.contact__personalinfo ul.personal span {
  font-weight: bold;
  color: #666; }

.contact__area input[type="text"],
input[type="email"],
.contact__area textarea {
  margin-bottom: 10px;
  padding-left: 10px;
  moz-transition: border 0.3s ease 0s, color 0.3s ease-out 0s;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #999;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  outline-width: 0; }

.contact__area input[type="text"]:hover,
#contact input[type="email"]:hover,
input[type="email"]:hover,
#contact textarea:hover {
  background: #fff;
  border: 1px solid #c0c0c0;
  color: #558e6a; }

.contact__area input[type="text"],
#contact input[type="email"],
#contact input[type="text"] {
  width: 300px;
  height: 27px; }

.contact__area textarea {
  width: 460px;
  height: 115px;
  display: block;
  padding-top: 10px;
  margin-bottom: 15px; }

.contact__area input#submit {
  background-color: #558e6a;
  border: 1px solid #558e6a;
  width: auto;
  padding: 8px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 11px;
  color: #ffffff;
  cursor: pointer;
  background-image: url(/images/bg-button.png);
  background-position: 0 0;
  background-repeat: repeat-x;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  /*margin-left:340px;  */
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.contact__area input#submit:hover {
  background-color: #777;
  border: 1px solid #777;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

label.error {
  display: block;
  padding-bottom: 10px;
  font-size: 11px;
  color: #558e6a;
  font-weight: bold; }
